.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(34, 34, 34, 0.7);
  backdrop-filter: blur(8px);
  color: #fff;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  max-width: 900px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

/* Logo */
.nav-logo a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: #00cba9;
}

/* Links */
.nav-links{
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #61dafb;
}

/* Hamburger button (hidden on desktop) */
.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: white;
}

/* Mobile styles */
@media (max-width: 768px) {
  .navbar{
    width: 100%;
  }
  .hamburger {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background: rgba(34, 34, 34, 0.9);
    position: absolute;
    top: 60px;
    right: 20px;
    padding: 15px;
    border-radius: 10px;
  }

  .nav-links.open {
    display: flex;
  }

  .nav-links li {
    margin: 10px 0;
  }
}